/* ************************************************************************** */
/*                                                                            */
/*                                                        ::::::::            */
/*   pyxis.css                                          :+:    :+:            */
/*                                                     +:+                    */
/*   By: fbes <fbes@student.codam.nl>                 +#+                     */
/*                                                   +#+                      */
/*   Created: 2021/12/03 16:39:11 by fbes          #+#    #+#                 */
/*   Updated: 2025/07/19 18:06:18 by fbes          ########   odam.nl         */
/*                                                                            */
/* ************************************************************************** */

:root {
	/* main colors */
	--theme-color: #b73188;
	--theme-color-dark: #7a1958;
	--theme-color-light: #e05ab1;

	/* logtime chart styling (text colors) */
	--logtime-chart-24h-color: #e05ab1;
}

/* Intra v3 colors in HSL, derived from above colors */
.iintra-v3 {
	--legacy-main: 321 57.8% 45.5%; /* derived from --theme-color */
	--legacy-main-muted: 321 66% 28.8%; /* derived from --theme-color-dark */
}
