/* ************************************************************************** */
/*                                                                            */
/*                                                        ::::::::            */
/*   windows.css                                        :+:    :+:            */
/*                                                     +:+                    */
/*   By: fbes <fbes@student.codam.nl>                 +#+                     */
/*                                                   +#+                      */
/*   Created: 2022/05/23 20:12:16 by fbes          #+#    #+#                 */
/*   Updated: 2025/07/19 18:06:58 by fbes          ########   odam.nl         */
/*                                                                            */
/* ************************************************************************** */

:root {
	/* main colors */
	--theme-color: #0000ee;
	--theme-color-dark: #00008f;
	--theme-color-light: #3838e8;

	/* logtime chart styling (text colors) */
	--logtime-chart-24h-color: #3838e8;
}

/* Intra v3 colors in HSL, derived from above colors */
.iintra-v3 {
	--legacy-main: 240 100% 46.7%; /* derived from --theme-color */
	--legacy-main-muted: 240 100% 28%; /* derived from --theme-color-dark */
}
