*.DS_Store
*.zip
*.xpi
*.crx
server/nogit.php
server/test.php
server/db/*.json
server/settings/*.json
server/banners/*.jpeg
server/banners/*.png
server/banners/*.webp
server/banners/*.jpg
server/banners/*.bmp
server/banners/*.gif
server/banners/*.mp4
temp.js
