/* ************************************************************************** */
/*                                                                            */
/*                                                        ::::::::            */
/*   dark.css                                           :+:    :+:            */
/*                                                     +:+                    */
/*   By: fbes <fbes@student.codam.nl>                 +#+                     */
/*                                                   +#+                      */
/*   Created: 2021/11/13 00:38:03 by fbes          #+#    #+#                 */
/*   Updated: 2021/11/17 21:25:58 by fbes          ########   odam.nl         */
/*                                                                            */
/* ************************************************************************** */



/* main elements (visible on every page */
body {
	background-color: #202124 !important;
	color: #f2f2f2 !important;
}

h1,
h2,
h3,
h4,
h5,
.notification-item--header {
	color: #f2f2f2 !important;
}

.text-dark h1,
.text-dark h2,
.text-dark h3,
.text-dark h4,
.text-dark h5 {
	color: #343a40 !important
}

.main-navbar,
.modal-backdrop {
	background: #202124 !important;
}

.main-navbar .main-navbar-user-nav > .dropdown > a > span,
.main-navbar .main-navbar-search:before,
.main-navbar .main-navbar-search input.search-input {
	color: #888888 !important;
}

.container-fullsize .container-inner-item,
.container-item,
.modal-content {
	background: #292a2d !important;
	border-color: #4a4a4a !important
}

.modal-dialog .help-block {
	color: #888888 !important;
}

/* Windows Futura font family fix */
.event-modal .head h4, .exam-modal .head h4 {
	font-family: 'futura-bold', 'futuraBold';
}

#sidebarCollapse {
	border-color: #292a2d !important;
	background-color: #292a2d !important;
}

.main-navbar .labelable .labeled[data-counter-count="0"] {
	background-color: #4a4a4a !important;
}

#broadcasts-container,
.broadcasts-filters-btn,
.dropdown-menu,
.broad-content,
.notifications-container,
.tt-menu,
.chosen-container .chosen-drop {
	background-color: #292a2d !important;
	color: #f2f2f2 !important;
	border-top-color: #292a2d !important;
	border-bottom-color: #292a2d !important;
}

.main-navbar-user-nav .dropdown.open .dropdown-menu {
	left: unset !important;
	right: 0px !important;
}

.chosen-container .chosen-results {
	color: #f2f2f2 !important;
}

.chosen-container-multi .chosen-choices li.search-choice {
	background-color: #7a7a7a !important;
	border-color: #9a9a9a !important;
}

.chosen-container-multi .chosen-choices li.search-choice {
	box-shadow: 0 0 2px black inset, 0 1px 0 rgb(0 0 0 / 5%) !important;
	color: #f2f2f2 !important;
}

.broadcasts-tag {
	color: #000000 !important;
}

.notifications-container .menu-drop-list .menu-drop-item:not(:first-child),
.modal-footer {
	border-top-color: #4a4a4a !important;
}

.vertical-list-item.notification-item {
	border-color: #4a4a4a !important;
}

.notification-item:hover,
.vertical-list-item.notification-item.unread:hover {
	background: #3a3a3a !important;
}

.expertise-list .expertise-list-item:hover {
	background: #3a3a3a !important;
}

#back-arrow,
.broadcast-footer {
	background: #4a4a4a !important;
	border-color: #6a6a6a !important;
}

.chosen-container-multi .chosen-choices {
	background: #4a4a4a !important;
	color: #f2f2f2 !important;
	border-color: #6a6a6a !important;
}

.content-style,
.dropdown-menu > li > a,
.dropdown-menu > li > a,
.notifications-container .menu-drop-list .menu-drop-item.read {
	color: #f2f2f2 !important;
	background-color: #292a2d !important
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.notifications-container .menu-drop-list .menu-drop-item > a:hover,
.nav > li > a:hover,
.nav > li > a:focus {
	color: #f2f2f2 !important;
	background-color: #4a4a4a !important;
}

.notifications-container .menu-drop-list .menu-drop-item.unread {
	color: #f2f2f2 !important;
	background-color: #343538 !important;
}

.notifications-container .menu-drop-list .menu-drop-item .menu-drop-text,
.modal-header .close {
	color: #f2f2f2 !important;
}

.broadcasts-filters-dropdown-menu {
	border-color: #292a2d !important;
}

hr,
.project-desc-item {
	border-top-color: #4a4a4a !important;
}

.list-group-item {
	background-color: #202124 !important;
	border-color: #4a4a4a !important;
}

.bg-white .list-group-item {
	background-color: #ffffff !important;
	border-color: #dddddd !important;
}

.feedback-comment-item {
	background-color: #4a4a4a !important;
}

.user-profile-picture {
	background-size: cover !important;
}

/* dashboard page */
.home-middle-td {
	overflow: auto !important;
}

.user-column,
#coalition-score,
#coalition-rank,
.profile-name .name,
.profile-name .login,
.profile-title,
.achievement-item .achievement-item--container .achievement-item--content h1,
.event-modal .head h4, .exam-modal .head h4 {
	color: #f2f2f2 !important;
}

.school-record-button {
	background-color: initial !important;
}

.school-record-button:hover,
.profile-title a:hover.simple-link {
	color: #6a6a6a !important;
	border-color: #6a6a6a !important;
}

.very-big-icon, .note-title {
	color: rgba(223, 223, 223, 0.2) !important;
}

.tab-pane .achievement-item--container[data-done="true"],
.container-inner-item.boxed .achievement-item--container {
	border-color: #4a4a4a !important;
}

.achievement-item .achievement-item--container .achievement-item--image {
	background: #4a4a4a !important;
}

.achievement-item.stacked .achievement-item--container {
	background-color: rgba(0,0,0,0) !important;
}

.achievement-item.stack .achievement-item--container[style="opacity: 0.4"] {
	opacity: 0.6 !important;
}

/* broadcasts page */
.broad2 {
	border-color: #4a4a4a !important;
}

/* achievements page */
.achievement-progress-item .progress-container .progress {
	background-color: #4c4c58 !important;
}

.achievements-nav .achievements-nav-item input.kind-filter+label p {
	border-color: rgba(0,0,0,0) !important;
}

.achievements-nav .achievements-nav-item input.kind-filter.active+label p {
	border-color: #8a8a8a !important;
}

.achievements-nav--filters .checkbox-inline input[type="checkbox"]:checked+label span {
	background: #8a8a8a !important;
}

.achievement-item .achievement-item--container {
	border-color: #4a4a4a !important;
}

.achievement-item .achievement-item--container .achievement-item--content .iconf-trophy {
	color: #6a6a6a !important;
}

.progress {
	background-color: #4a4a4a !important;
}

/* projects page */
.projects-notifications:not(:empty):before,
.project-notifications:not(:empty):before {
	color: #888888 !important;
}

#project-show .project-status-box {
	background-color: #4a4a4a !important;
}

#project-show .project-status-box[data-status=subscribed],
#project-show .project-status-box[data-status=allowed] {
	background-color: #00babc !important;
}

#project-show .project-status-box[data-status=success] {
	background-color: #5cb85c !important;
}

#project-show .project-status-box[data-status=fail],
#project-show .project-status-box[data-status=forbidden],
#project-show .project-status-box[data-status=closed] {
	background-color: #d8636f !important;
}

.team-item .team-header .team-status-dot:not(.text-success) {
	color: #4a4a4a !important;
}

.team-item .team-content .team-lock-and-close,
.project-attachments-list .project-attachment-item .attachment-name span[class^="icon-"] {
	color: #adadad !important;
}

.team-item .team-repo .input-group input {
	background-color: #4a4a4a !important;
	border-color: #6a6a6a !important;
	color: #adadad !important;
}

.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group>.btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
	border-bottom-right-radius: 0 !important;
	border-top-right-radius: 0 !important;
}

.input-group-addon {
	background-color: #6a6a6a !important;
	border-color: #6a6a6a !important;
	color: #adadad !important;
	cursor: pointer !important;
}

.input-group-addon:hover,
.input-group-addon:focus {
	color: #f2f2f2 !important;
}

.projects-list-container .projects-list--list-header .project-item:hover,
.projects-list-container .projects-list--list .project-item:hover {
	background-color: #4a4a4a !important;
}

#projectuser-list-container ul.projects-list--list-header li.project-item>div[class*='project-user'] {
	color: #adadad !important;
	background: initial !important;
}

.correction-item .corrected-item .correction-comment-item {
	background-color: #2a2a2a !important;
}

.correction-item .corrected-item .correction-comment-item .correction-comment-body {
	border-color: #4a4a4a !important;
}

mark, .mark {
	background: #3c3a31 !important
}

#project-show .project-summary-item,
#project-show .project-notifications .project-item.reminder {
	border-color: #4a4a4a !important;
}

.team-actions .btn.btn-block.btn-danger {
	white-space: normal !important;
}

/* events */
.event-subname {
	color: #adadad !important;
}

/* skills chart */
#skill-chart svg .highcharts-background,
#logtime_goal svg .highcharts-background {
	fill: rgba(255, 255, 255, 0) !important;
}

#skill-chart .highcharts-axis-labels text,
#skill-chart .highcharts-xaxis-labels text {
	color: #adadad !important;
	fill: #adadad !important;
}

.highcharts-grid > path {
	stroke: #4a4a4a !important;
}

.highcharts-axis > path {
	stroke: #434d54 !important;
}

/* project charts */
.highcharts-background {
	fill: #292a2d !important;
}

.highcharts-container svg > text,
.highcharts-data-labels > g > text {
	color: #f2f2f2 !important;
	fill: #f2f2f2 !important;
	text-shadow: none !important;
}

.highcharts-tooltip path:not([fill="none"]) {
	fill: rgba(25, 26, 28, 0.85) !important;
}

.highcharts-tooltip > span,
.highcharts-tooltip > text,
.highcharts-legend-item > text,
.highcharts-axis-labels > text,
.highcharts-axis-labels > text,
.highcharts-axis > text {
	color: #adadad !important;
	fill: #adadad !important;
}

.tooltip {
	color: #f2f2f2 !important;
}

/* logtime overview */
#user-locations g > rect {
	stroke: #292a2d !important;
	cursor: default !important;
}

#user-locations g > text {
	cursor: default !important;
}

#user-locations g:not([data-original-title="0h00"]):not([data-nolog]) > text {
	color: #00ecef !important;
	fill: #00ecef !important;
}

#user-locations g[data-original-title="0h00"] > rect,
#user-locations g[data-nolog] > rect,
#user-locations g > rect[fill="#fafafa"] {
	fill: #343538 !important;
	color: initial !important;
}

/* historics */
.changelogs-list .changelog-item .changelog-left span {
	background-color: #4a4a4a !important;
	border-color: #6a6a6a !important;
	color: #f2f2f2 !important;
}

.changelogs-list .changelog-item .changelog-main:hover,
.table-list li.table-item:hover {
	background-color: #3a3a3a !important;
	border-color: #4a4a4a !important;
}

.changelogs-list .changelog-item .changelog-main p.title code {
	background-color: rgba(255, 8, 78, 0.15) !important;
}

.changelogs-list .changelog-item .changelog-main p.title code[data-positive] {
	background: rgba(0, 186, 188, 0.15) !important;
}

.table-list .table-list--header,
li.scaleteam-list-item {
	border-bottom-color: #4a4a4a !important;
}

li.scaleteam-list-item .rating:not([data-positive=""]) {
	background: #523d3f !important;
	color: #d8636f !important;
}

/* profile page */
.coalition-flag .coalition-flag--flag,
.coalition-flag-mini .coalition-flag--flag {
	transform: scaleY(1) !important;
	transition: transform 0.2s ease-out !important;
}

.coalition-flag .coalition-flag--icon,
.coalition-flag-mini .coalition-flag--icon {
	transform: translateY(0px) !important;
	transition: transform 0.2s ease-out !important;
}

.coalition-flag-mini:hover .coalition-flag--flag {
	transform: scaleY(1.15) !important;
	transition: transform 0.1s ease-in !important;
}

.coalition-flag-mini:hover .coalition-flag--icon {
	transform: translateY(4px) !important;
	transition: transform 0.1s ease-in !important;
}

.coalition-flag:hover .coalition-flag--flag {
	transform: scaleY(1.05) !important;
	transition: transform 0.1s ease-in !important;
}

.coalition-flag:hover .coalition-flag--icon {
	transform: translateY(3px) !important;
	transition: transform 0.1s ease-in !important;
}

.profile-menu .nav li.active a {
	background-color: #4a4a4a !important;
}

.profile-menu .nav li a:hover {
	background-color: #6a6a6a !important;
}

.marked-title,
.project-item[data-project-occurence] .marked-title a {
	color: #adadad !important;
}

.profile-item .profile-item-top.home-banner .profile-right-box .cursus-user-select {
	background-color: rgba(0,0,0,0) !important;
	padding-right: 8px !important;
}

.profile-item .user-primary .user-infos .cursus-user-select {
	background-color: rgba(0,0,0,0) !important;
	text-align: center !important;
}

.profile-item .profile-item-top.home-banner .profile-right-box .cursus-user-select option,
.profile-item .user-primary .user-infos .cursus-user-select option {
	background-color: #292a2d !important;
	color: #f2f2f2 !important;
}

.profile-on-users.profile-item .user-header-box.infos {
	border-radius: 0px !important;
}

@media (max-width: 992px) {
	.profile-item .user-header-box {
		border-radius: 4px 4px 0 0 !important;
	}

	.profile-item .user-header-box:last-of-type {
		border-radius: 0 0 4px 4px !important;
	}
}

.profile-item .user-progress .progress {
	background-color: rgba(32,32,38,0.75) !important;
}

.profile-item .location .user-poste-infos.improved:hover {
	text-decoration: underline !important;
	color: #00babc !important;
}

/* slots page */
.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed hr,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-row,
.fc-unthemed .fc-popover {
	border-color: #6a6a6a !important;
}

.fc-slats td {
	border-top-color: #4a4a4a !important;
}

.fc-event {
	border-color: rgba(0,0,0,0.3) !important;
}

.fc-event:not([style*="background"]) {
	background: #02807c !important;
}

.fc-event:not([style*="color:"]) {
	color: #cceced !important;
}

.fc-event.closed {
	background: #5a5a5a !important;
	border-color: rgba(0,0,0,0) !important;
}

.fc-event.reserved {
	background-color: #bc1301 !important;
	border-color: #781919 !important;
	color: #f8d2d2 !important
}

/* coalitions page */
#coalition-scores .table-striped > tbody > tr:nth-of-type(odd) {
	background: #2a2a2a !important;
}

/* search page */
.search-item.search-user-item,
.student-item,
.student-item .student-image,
.search-item:not(:last-child) {
	border-color: #4a4a4a !important;
}

.search-item.search-user-item {
	background-color: #292D39 !important;
}

.student-item {
	background-color: #4a4a4a !important;
}

.search-item.search-user-item .search-item-main,
.search-item.search-video-item .search-item-main {
	background-color: #4a4a4a !important;
	border-radius: 0px !important;
}

.search-item.search-user-item:hover,
.search-item.search-video-item:hover,
.student-item:hover {
	transition: box-shadow 0.3s !important;
	border-color: #5a5a5a !important;
	box-shadow: 1px 1px 5px rgb(255 255 255 / 10%) !important;
	-webkit-box-shadow: 1px 1px 5px rgb(255 255 255 / 10%) !important;
}

.search-item.search-user-item:hover .search-item-main,
.search-item.search-video-item:hover .search-item-main {
	background-color: #5a5a5a !important;
	color: #f2f2f2 !important;
}

.search-item.search-user-item:hover > img,
.search-item.search-video-item:hover > img,
.student-item .student-login {
	color: #f2f2f2 !important;
	text-decoration: none !important;
}

/* video page */
.container-breadcrumb .breadcrumb,
.container-item-nav-tab .nav-tabs,
.container-item-nav-tab .nav-tabs > li.active > a,
.container-item-nav-tab .nav-tabs > li.active > a:hover,
.container-item-nav-tab .nav-tabs > li.active > a:focus,
.container-item-nav-tab .tab-content,
.notion-grid > .notion-item,
.notion-grid > .subnotion-item,
.subnotion-grid > .notion-item,
.subnotion-grid > .subnotion-item {
	background-color: #292a2d !important;
	border-color: #4a4a4a !important;
}

.notion-title {
	background-color: #4a4a4a !important;
}

.notion-grid > .notion-item .subnotions-list .subnotion-item:not(:first-child),
.notion-grid > .subnotion-item .subnotions-list .subnotion-item:not(:first-child),
.subnotion-grid > .notion-item .subnotions-list .subnotion-item:not(:first-child),
.subnotion-grid > .subnotion-item .subnotions-list .subnotion-item:not(:first-child),
.notion-grid > .notion-item .subnotions-list,
.notion-grid > .subnotion-item .subnotions-list,
.subnotion-grid > .notion-item .subnotions-list,
.subnotion-grid > .subnotion-item .subnotions-list {
	border-top-color: #4a4a4a !important;
}

.video-item-footer .video-item-views {
	color: #6a6a6a !important;
}

.notion-grid > .notion-item .notion-title,
.notion-grid > .notion-item .subnotion-title,
.notion-grid > .subnotion-item .notion-title,
.notion-grid > .subnotion-item .subnotion-title,
.subnotion-grid > .notion-item .notion-title,
.subnotion-grid > .notion-item .subnotion-title,
.subnotion-grid > .subnotion-item .notion-title,
.subnotion-grid > .subnotion-item .subnotion-title {
	background-color: #4a4a4a !important;
	color: #f2f2f2 !important;
}

.app-sidebar-right {
	background-color: #292a2d !important;
}

/* articles */
.articles-routes {
	background-color: #4a4a4a !important;
}

:not(pre) > code {
	background-color: #4a4a4a !important;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
	background-color: #1A252F !important;
}

.current-article {
	color: #f2f2f2 !important;
}

/* companies */
.container-fluid.main table.table > tbody > tr > th {
	color: #f2f2f2 !important;
}

.like-count[data-liked=false] {
	color: #8a8a8a !important;
}

/* resume page */
.resume {
	background: #292a2d !important;
	border-color: #292a2d !important;
}

/* auth page */
html.soft-background, body.authorization-layout {
	height: 100%;
}

.authorization-layout main {
	color: #ededed !important;
}

.authorization-layout #container {
	background-color: #292a2d !important;
	border-color: #4a4a4a !important;
}

.authorization-layout a,
.authorization-layout .text-info {
	color: #6fabe6 !important;
}

.authorization-layout .header img {
	filter: brightness(1.5) saturate(1.55) !important;
	-webkit-filter: brightness(1.5) saturate(1.55) !important;
	-moz-filter: brightness(1.5) saturate(1.55) !important;
}

.authorization-layout .user-name {
	color: #9a9a9a !important;
}

.authorization-layout .actions > form > .btn.btn-success {
	background-color: #6fabe6 !important;
	border-color: #598dc2 !important;
	color: #f2f2f2 !important;
}

.authorization-layout .actions > form > .btn.btn-success:hover {
	background-color: #81b4e7 !important;
	border-color: #6fabe6 !important;
}

.authorization-layout .actions > form > .btn.btn-danger {
	color: #E26060 !important;
}

.authorization-layout .actions > form > .btn.btn-danger:hover {
	color: #f2f2f2 !important;
	background-color: #E26060 !important;
}

/* API page */
.blue-background .main-content-container,
.resource-item {
	background-color: #202124 !important;
}

.main-column > footer {
	background-color: #000000 !important;
}

.blue-background .main-content-container,
header.main-page-header .logo small,
.main-column > footer {
	color: #6fabe6 !important;
}

.guides-menu li a {
	color: #9a9a9a !important;
}

/* color fix for header inside of anchor */
a h1,
a h2,
a h3,
a h4,
a h5 {
	color: inherit !important;
}

.documentation table > tbody > tr:nth-of-type(odd) {
	background-color: #2a2a2a !important;
}

.documentation tr[style="background-color:rgb(255,255,255);"],
.documentation tr[style="background-color:rgb(249,249,249);"] {
	background-color: #3a3a3a !important;
}

.documentation table > thead > tr > th,
.documentation table > tbody > tr > th,
.documentation table > tfoot > tr > th,
.documentation table > thead > tr > td,
.documentation table > tbody > tr > td,
.documentation table > tfoot > tr > td {
	border-color: #4a4a4a !important;
}

.documentation pre {
	background-color: #000000 !important;
}

.nav-tabs {
	background: #4a4a4a !important;
	border-color: #6a6a6a !important;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	color: #f2f2f2 !important;
	background-color: #6a6a6a !important;
	border-color: #6a6a6a !important;
}

.nav-tabs > li > a:hover {
	border-color: #6a6a6a #6a6a6a #8a8a8a !important;
}

/* application page in settings */
.app_container_3Fj {
	border-color: #6a6a6a !important;
}

.app_title_3CB {
	color: #f2f2f2 !important;
}

.app_info_p_1C2 {
	color: #adadad !important;
}

.application-item--detail .application-details {
	background: #292a2d !important;
	border-color: #4a4a4a !important;
}

.application-item--detail label:not(.label-success) {
	background: #4a4a4a !important;
	color: #f2f2f2 !important;
}

/* A.G.U Panel (not translated sine that does not seem to work properly: https://bugs.chromium.org/p/chromium/issues/detail?id=115800) */
.text-agu:last-of-type::after {
	content: '\A\APlease disable the Dark Theme for Intra 42 extension before continuing. I did not test the pages after clicking the SET-UP-button and it is highly likely they will contain errors, which might result in a wrongfully allocated freeze.' !important;
	color: red !important;
	white-space: pre-wrap !important;
	font-weight: bold !important;
}

/* eval sheet */
.scale-question-answers,
.scale-div {
	background: rgba(0,0,0,0) !important;
}

/* buttons */
.btn-btn-default .btn-btn-default-dropdown-toggle {
	background: rgba(0, 0, 0, 0.5);
}

.btn-default.notification-btn,
.btn-default.broadcasts-filters-btn,
.fc-prev-button,
.fc-next-button,
.modal-footer .btn.btn-default,
.main-title.primary .btn.btn-default,
.correction-item .btn.btn-block.btn-default {
	background-color: #4a4a4a !important;
	border-color: #6a6a6a !important;
	color: #00babc !important;
}

.broadcasts-filters-btn:hover,
.btn:focus,
.broadcasts-filters-btn:focus,
.btn.focus,
.focus.broadcasts-filters-btn {
	color: #adadad !important;
}

.btn.btn-success,
.btn-success.broadcasts-filters-btn {
	background-color: #5cb85c !important;
	border-color: #5cb85c !important;
}

.btn-default.notification-btn:hover,
.btn-default.broadcasts-filters-btn:hover,
.fc-prev-button:hover,
.fc-next-button:hover,
.modal-footer .btn.btn-default:hover,
.main-title.primary .btn.btn-default:hover,
.correction-item .btn.btn-block.btn-default:hover {
	background-color: #3a3a3a !important;
	border-color: #4a4a4a !important;
	color: #00babc !important;
}

.btn.btn-success.on-active:not(.active),
.btn-success.on-active.broadcasts-filters-btn:not(.active) {
	color: #5cb85c !important;
	background-color: rgba(92,184,92,0.2) !important;
	border-color: rgba(92,184,92,0) !important;
}

.btn.btn-success.light-bg:hover:not(.active),
.btn-success.light-bg.broadcasts-filters-btn:hover:not(.active) {
	color: #5cb85c !important;
	background-color: rgba(92,184,92,0.3) !important;
}

.btn.btn-danger.on-active:not(.active),
.btn-danger.on-active.broadcasts-filters-btn:not(.active) {
	color: #d8636f !important;
	background-color: rgba(216,99,111,0.2) !important;
	border-color: rgba(216,99,111,0) !important;
}

.btn.btn-danger.light-bg:hover:not(.active),
.btn-danger.light-bg.broadcasts-filters-btn:hover:not(.active) {
	color: #d8636f !important;
	background-color: rgba(216,99,111,0.3) !important;
}


.btn.btn-success.light-bg,
.btn-success.light-bg.broadcasts-filters-btn {
	background-color: rgba(92,184,92,0.2) !important;
	border-color: transparent !important;
}

.btn.btn-danger.light-bg,
.btn-danger.light-bg.broadcasts-filters-btn {
	background-color: rgba(216,99,111,0.2) !important;
	border-color: transparent !important;
}

.checkbox-input:checked+.checkbox-label.btn-success,
.checkbox-input:checked+.checkbox-label.btn-success:hover {
	background-color: #5cb85c !important;
	color: #ffffff !important;
}

.checkbox-input:checked+.checkbox-label.btn-danger,
.checkbox-input:checked+.checkbox-label.btn-danger:hover {
	background-color: #d8636f !important;
	color: #ffffff !important;
}

.btn.btn-primary:hover,
.btn-primary.broadcasts-filters-btn:hover,
.btn.btn-primary:focus,
.btn-primary.broadcasts-filters-btn:focus,
.btn.btn-primary.focus,
.btn-primary.focus.broadcasts-filters-btn,
.btn.btn-primary:active,
.btn-primary.broadcasts-filters-btn:active,
.btn.btn-primary.active,
.btn-primary.active.broadcasts-filters-btn,
.open > .btn.btn-primary.dropdown-toggle,
.open > .btn-primary.dropdown-toggle.broadcasts-filters-btn,
.btn.btn-success:hover,
.btn.btn-success:focus,
.btn.btn-success.focus,
.btn.btn-success:active,
.btn.btn-success.active,
.open > .btn.btn-success.dropdown-toggle,
.btn.btn-danger:hover,
.btn.btn-danger:focus,
.btn.btn-danger.focus,
.btn.btn-danger:active,
.btn.btn-danger.active,
.open > .btn.btn-danger.dropdown-toggle {
	color: #f2f2f2 !important;
}

.btn.btn-warning:hover,
.btn-warning.broadcasts-filters-btn:hover,
.btn.btn-warning:focus,
.btn-warning.broadcasts-filters-btn:focus,
.btn.btn-warning.focus,
.btn-warning.focus.broadcasts-filters-btn,
.btn.btn-warning:active,
.btn-warning.broadcasts-filters-btn:active,
.btn.btn-warning.active,
.btn-warning.active.broadcasts-filters-btn,
.open > .btn.btn-warning.dropdown-toggle,
.open > .btn-warning.dropdown-toggle.broadcasts-filters-btn {
	color: #ffffff !important;
}

.login-container .login-main .btn-login {
	color: #f2f2f2 !important;
	background-color: #00babc !important;
}

.login-container .login-main .btn-login:hover,
.login-container .login-main .btn-login:focus,
.login-container .login-main .btn-login:active {
	background-color: #00ecef !important;
}

.pagination > li:not(.active) > a,
.pagination > li:not(.active) > span {
	background-color: #4a4a4a !important;
	border-color: #6a6a6a !important;
	color: #00babc !important;
}

.pagination > li:not(.active) > a:hover,
.pagination > li:not(.active) > a:focus,
.pagination > li:not(.active) > span:hover,
.pagination > li:not(.active) > span:focus {
	background-color: #3a3a3a !important;
	border-color: #6a6a6a !important;
	color: #00babc !important;
}

/* forms and inputs */
input[type="text"]:not(.search-input),
input[type="password"],
input[type="number"],
input[type="date"],
input[type="datetime-local"],
input[type="time"],
input[type="email"],
select,
textarea,
.form-control,
.Select-control,
.Select-menu-outer,
.Select-menu {
	background-color: #4a4a4a !important;
	color: #f2f2f2 !important;
	border-color: #6a6a6a !important;
	border-radius: 3px !important;
}

textarea {
	max-width: 100% !important;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control,
input[disabled],
textarea[disabled],
select[disabled] {
	background-color: #2a2a2a !important;
	color: #6a6a6a !important;
}

.login-container .login-main .form-inputs .input-login input {
	background-color: rgba(30,30,30,0.5) !important;
	color: #c7c7c7 !important;
}

.Select-option,
.Select-option-group-label {
	background-color: #4a4a4a !important;
	color: #f2f2f2 !important;
}

.Select-option.is-focused {
	background-color: #6a6a6a !important;
	color: #f2f2f2 !important;
}

.panel {
	background-color: #292a2d !important;
}

.panel-default {
	border-color: #4a4a4a !important;
}

.panel-default > .panel-heading {
	border-color: #4a4a4a !important;
	background-color: #4a4a4a !important;
	color: #f2f2f2 !important;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
	border-top-color: #6a6a6a !important;
}

.quest-item .quest-item-header:hover {
	background: #4a4a4a !important;
}

mark {
	text-shadow: none !important;
	color: #ffffff !important;
	background-color: #00babc !important;
}

::selection {
	text-shadow: none !important;
	color: #ffffff !important;
	background-color: #00babc !important;
}

::-moz-selection {
	text-shadow: none !important;
	color: #ffffff !important;
	background-color: #00babc !important;
}

/* SCROLLBARS */
/* from https://stackoverflow.com/questions/47576815/how-to-add-arrows-with-webkit-scrollbar-button */
::-webkit-scrollbar {
	width: 16px;
	height: 16px;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
	background-color: rgb(64, 64, 64);
}

::-webkit-scrollbar-thumb {
	background-color: rgb(96, 96, 96);
	background-clip: padding-box;
	border: 2px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgb(112, 112, 112);
}

::-webkit-scrollbar-thumb:active {
	background-color: rgb(128, 128, 128);
}

/* Buttons */
::-webkit-scrollbar-button:single-button {
	background-color: rgb(64, 64, 64);

	display: block;
	background-size: 10px;
	background-repeat: no-repeat;
}

/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
	height: 12px;
	width: 16px;
	background-position: center 4px;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:active {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='50,00 0,50 100,50'/></svg>");
}

/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
	height: 12px;
	width: 16px;
	background-position: center 2px;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:hover {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:active {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,0 100,0 50,50'/></svg>");
}

/* Left */
::-webkit-scrollbar-button:single-button:horizontal:decrement {
	height: 12px;
	width: 12px;
	background-position: 3px 3px;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,50 50,100 50,0'/></svg>");

}

::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='0,50 50,100 50,0'/></svg>");
}

::-webkit-scrollbar-button:single-button:horizontal:decrement:active {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,50 50,100 50,0'/></svg>");
}

/* Right */
::-webkit-scrollbar-button:single-button:horizontal:increment {
	height: 12px;
	width: 12px;
	background-position: 3px 3px;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,0 0,100 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:horizontal:increment:hover {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='0,0 0,100 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:horizontal:increment:active {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,0 0,100 50,50'/></svg>");
}

* {
	scrollbar-color: #606060 #404040;
	scrollbar-width: thin;
}

/* mobile */
@media (max-width: 767px) {
	.page .page-content.page-content-fluid {
		background-color: #292a2d !important;
	}

	.event-list .event-item .event-left .date-month {
		margin: 0 auto !important;
		text-align: center !important;
		overflow: hidden !important;
		text-overflow: clip !important;
		max-width: 3ch !important;
	}
}

@media (max-width: 480px) {
	body,
	.page .page-content {
		background: #202124 !important;
		color: #f2f2f2 !important;
	}
}
