/*
Remove the pointer cursor from the days in the logtime chart.
Who the fuck decided it was a good idea to make every logtime day a button.
Clicking on them leads nowhere. What the fuck.
*/
.iintra-v3 .iintra-dashboard-box-logtime td > button,
.iintra-v3 .iintra-dashboard-box-logtime td.cursor-pointer,
.iintra-v3 .iintra-profile-box-logtime td > button,
.iintra-v3 .iintra-profile-box-logtime td.cursor-pointer {
	cursor: default !important;
}

/*
Set the border color of the days in the logtime chart to transparent, like they should be.
No white border colors on white background colors. Useless.
*/
.iintra-v3 .iintra-dashboard-box-logtime td,
.iintra-v3 .iintra-profile-box-logtime td {
	border-color: transparent !important;
}

/* Remove pointer cursor from tooltippable items */
.iintra-v3 [data-state="closed"],
.iintra-v3 [data-state="delayed-open"] {
	cursor: default !important;
}

/* Add hover effect to legacy buttons */
/* Derived from non-hover color (--legacy-main in hsl format) */
button.bg-legacy-main:hover,
button.bg-legacy-main:focus {
	background-color: hsl(var(--legacy-main-muted)) !important;
}

/* Custom profile banners */
.iintra-profile-banner {
	background-size: cover !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
	background-color: transparent !important;
}

/* Profile and Dashboard header boxes */
header div.bg-ft-gray\/50 {
	background: rgba(32, 32, 38, 0.75) !important;
	backdrop-filter: blur(4px) !important;
}
