/* ************************************************************************** */
/*                                                                            */
/*                                                        ::::::::            */
/*   monit.css                                          :+:    :+:            */
/*                                                     +:+                    */
/*   By: fbes <fbes@student.codam.nl>                 +#+                     */
/*                                                   +#+                      */
/*   Created: 2021/11/11 19:23:10 by fbes          #+#    #+#                 */
/*   Updated: 2022/04/04 17:41:56 by fbes          ########   odam.nl         */
/*                                                                            */
/* ************************************************************************** */

#monit-progress .mb-1 {
	text-align: center;
}

#monit-progress-text {
	text-align: center;
	font-size: xx-large;
}

.profile-item #lt-emote {
	vertical-align: middle;
	margin-right: 0.5ch;
}
