/* START HAHA EASTER EGG */
.funnyhaha {
	animation: funny;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

html.funnyhaha,
body.funnyhaha,
.page.funnyhaha,
.page-content.funnyhaha {
	overflow: hidden !important;
	animation: none !important;
}

@keyframes funny {
	0% { transform: rotate3d(-1, 1, 1, 0deg); }
	100% { transform: rotate3d(-1, 1, 1, 360deg); }
}
/* END HAHA EASTER EGG */
