/**
 * This CSS file loads all colors defined by the themes and color schemes.
 * First, the theme colors are loaded, then the color scheme overrules some colors.
 * Finally, apply.css is loaded. It overrules any rule set in improv.css.
 */


/* Overwrite the appropriate Intra V3 root variables */
:root {
	--background: var(--body-background-color);
}

/* Hacky fix flash of white before theme-dark is loaded, only works if system is set to dark mode */
@media (prefers-color-scheme: dark) {
	html, body {
		background-color: #12141a !important;
	}
}

/* Set the background and text color of the body and the root element */
body, #root {
	background-color: var(--body-background-color) !important;
	color: var(--text-color) !important;
}

/* Set the color of all links */
.text-legacy-main {
	color: var(--theme-color) !important;
}
a.text-legacy-main {
	color: var(--theme-color) !important;
}
a.text-legacy-main:hover,
a.text-legacy-main:focus {
	color: var(--theme-color-dark) !important;
}

/* Apply the theme to the top navigation bar */
.iintra-top-navbar .bg-white {
	background-color: var(--top-navbar-background-color) !important;
	color: var(--text-color) !important;
}
.iintra-top-navbar input[type="search"] {
	background-color: var(--top-navbar-input-background-color) !important;
	color: var(--text-color) !important;
}

/* Apply the theme to the search results from the top navigation bar */
.iintra-top-navbar .border {
	border-color: var(--top-navbar-background-color) !important;
}
.iintra-top-navbar .border-t {
	border-color: var(--general-border-color) !important;
}
.iintra-top-navbar a.hover\:bg-slate-100:hover {
	background-color: var(--list-hover-background-color) !important;
}

/* Color of the search icon in the top navigation bar */
.iintra-top-navbar svg path {
	stroke: var(--tertiary-text-color) !important;
}

/* Apply the theme to the left navigation bar */
.iintra-left-navbar > .bg-\[\#4E5566\],
.iintra-left-navbar > .sidebar-animation > .bg-\[\#4E5566\] {
	background-color: var(--left-navbar-background-color) !important;
	color: var(--text-color) !important;
}
.iintra-left-navbar a {
	opacity: 1 !important;
	color: var(--left-navbar-icon-color) !important;
}
.iintra-left-navbar a:hover,
.iintra-left-navbar a:focus {
	color: var(--left-navbar-icon-color-active) !important;
}
.iintra-left-navbar a svg path {
	stroke: var(--left-navbar-icon-color) !important;
}
.iintra-left-navbar a:hover svg path,
.iintra-left-navbar a:focus svg path {
	stroke: var(--left-navbar-icon-color-active) !important;
}

/* Always color the profile link of the left navbar active, since it's the link to profile */
/* and only Profile is currently supported on Intra V3 */
.iintra-left-navbar a[href*="profile-v3.intra.42.fr"] {
	color: var(--left-navbar-icon-color-active) !important;
}
.iintra-left-navbar a[href*="profile-v3.intra.42.fr"] svg path {
	stroke: var(--left-navbar-icon-color-active) !important;
}

/* Set the hover background color of anything with a gray hover */
.hover\:bg-gray-300:hover {
	color: var(--text-color) !important;
	background-color: var(--nav-hover-color) !important;
}

/* Set the background color of the Dashboard and Profile boxes container parent */
.iintra-profile-bg,
.iintra-dashboard-bg {
	background-color: var(--body-background-color) !important;
}

/* Set the background color of Dashboard and Profile boxes */
.iintra-profile-box,
.iintra-dashboard-box {
	background-color: var(--container-background-color) !important;
}

/* Make sure the header of Dashboard and Profile boxes are colored white */
.iintra-dashboard-box-header,
.iintra-profile-box-header {
	color: var(--text-color) !important;
}

/* Remove the white background color from overflowing elements in Dashboard and Profile container boxes */
.iintra-profile-box .overflow-y-auto,
.iintra-dashboard-box .overflow-y-auto {
	background-color: transparent !important;
}

/* Make sure the header of any overflowing elements in Dashboard and Profile boxes are colored white */
.iintra-profile-box .overflow-y-auto .flex-col .font-bold.uppercase,
.iintra-dashboard-box .overflow-y-auto .flex-col .font-bold.uppercase {
	color: var(--text-color) !important;
}

/* Apply the general border color to any borders in Dashboard and Profile boxes */
.iintra-profile-box *:not(a), :before, :after,
.iintra-dashboard-box *:not(a), :before, :after {
	border-color: var(--general-border-color) !important;
}

/* Set the border color of buttons in Dashboard and Profile boxes */
.iintra-profile-box .border-legacy-main,
.iintra-dashboard-box .border-legacy-main {
	border-color: var(--theme-color) !important;
	color: var(--theme-color) !important;
}

/* Make sure buttons in Dashboard and Profile boxes appear gray on hover */
.iintra-profile-box .border-legacy-main:hover,
.iintra-profile-box .border-legacy-main:active,
.iintra-dashboard-box .border-legacy-main:hover,
.iintra-dashboard-box .border-legacy-main:active {
	border-color: var(--tertiary-text-color) !important;
	color: var(--tertiary-text-color) !important;
}

/* Set the background color of achievements in the Profile achievements box */
/* Note: this box is the same one as the Marks box on the Profile, so this rule applies to both */
.iintra-profile-box-marks .auto-rows-auto > .flex-row .bg-zinc-100,
.iintra-dashboard-box-achievements .auto-rows-auto > .flex-row .bg-zinc-100 {
	background-color: var(--general-border-color) !important;
}

/* Set the background color of any popover menu */
.bg-popover,
div[data-radix-popper-content-wrapper] {
	background-color: var(--input-background-color) !important;
	border-color: var(--input-border-color) !important;
	color: var(--text-color) !important;
}
.bg-popover div[role="menuitem"][data-highlighted],
div[data-radix-popper-content-wrapper] > div[role="menuitem"][data-highlighted] {
	background-color: var(--list-hover-background-color) !important;
	color: var(--text-color) !important;
}
.bg-popover [role="separator"],
div[data-radix-popper-content-wrapper] [role="separator"] {
	background-color: var(--input-border-color) !important;
}
